include LICENSE
include README.rst
include HISTORY.rst
include AUTHORS.rst
include requirements.txt

recursive-include pymetawear/MetaWear-SDK-Cpp *
prune pymetawear/MetaWear-SDK-Cpp/.git
prune pymetawear/MetaWear-SDK-Cpp/build
prune pymetawear/MetaWear-SDK-Cpp/dist

recursive-include examples *.py
recursive-include tests *
recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
prune docs/build

recursive-exclude * __pycache__
recursive-exclude * *.py[co]





